<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455254893032-2a330piag4sp7ltlbqt685mj3vjrn7tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455254893032-2a330piag4sp7ltlbqt685mj3vjrn7tt</string>
	<key>API_KEY</key>
	<string>AIzaSyAoBGoiQYGTbTA1ux08stK0SDSYY5NgGoc</string>
	<key>GCM_SENDER_ID</key>
	<string>455254893032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harrycamps.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-app-ios-9c6b9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-app-ios-9c6b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455254893032:ios:50f262b66a04ffb426045d</string>
</dict>
</plist>